[submodule "interface/mavlink"]
	path = interface/mavlink
	url = git@bitbucket.org:DBW00/mavlink-arduino.git
[submodule "interface/dart-mavlink"]
	path = interface/dart-mavlink
	url = https://github.com/nus/dart_mavlink
